ul li::after {
  content: ' - ';
  color: blue;
}

p {
  font-size: 50px;
}

p::first-letter {
  font-size: 100px;
  display: block;
  float: left;
  margin: 0, 10px, 10px, 0;
}

p::first-line {
  background: darkcyan;
}

input::placeholder {
  font-family: sans-serif;
  color: darkgreen;
}
