html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

.pai {
  width: 50rem;
  height: 100vh;
  background: yellow;
}
.pai > div {
  width:  50%;
  height: 50rem;
  background: blueviolet;
}
.pai-color-one {
  width: 100vw ;
  height: 100vh;
  background: greenyellow;
}
.pai-color-two {
  width: 100vw ;
  height: 100vh;
  background: orange;
}

p {
  font-size: 2rem;
}
